/* Rectangle.css */

.WebPage {
    background-color: var(--rectangle-color, rgba(17, 16, 16, 0.484)); /* Default color is gray */
    width: var(--rectangle-width, 500px); /* Default width */
    height: var(--rectangle-height, 600px); /* Default height */
    display: flex;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    margin: 10px; /* Spacing around the rectangle */
    border-radius: 10px; /* Rounded corners for aesthetics */
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3); /* Optional: adds a subtle shadow above the rectangle */
    /* Add other styles such as border, padding, etc., as needed */
  }

.Exit {
    display: flex; /* Using flexbox for alignment */
    align-items: center; /* Center items vertically */
    justify-content: flex-start;
    width: 100%;
    background-color: #282c34;
    
    /* background-color: rgba(0, 0, 0, 0.833);  */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 4%;
    padding-left: 0 10px; /* Add padding for visual spacing */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.circle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #333;
    margin-right: 4px; /* Adjust space between circles */
    margin-left: 6px;
  }
